body { background: white; 
  font-size: 12pt;
}

#contents {
  padding-right: 140px; // sidebar
}

h1 {
  text-align: center;
  color: black;
}

.floating_sidebar {
  margin-right: -150px;
  margin-bottom: 1em;
  width: 120px;
  -moz-border-radius: 3px;
  background: #806070;
  font-size: 75%;
  color: white;
  padding: 4px;
  float: right;
  line-height: 1em;
}

.floating_sidebar a {
  color: white;
}

.floating_sidebar a:hover {
  color: #e0e0e0;
}

.editbar {
  -moz-border-radius: 3px;
  background: #806070;
  font-size: 75%;
  color: white;
  padding: 4px;
  line-height: 1em;
  float: bottom;
}

.editbar a {
  color: white;
}

.editbar a:hover {
  color: #e0e0e0;
}

.editbar select {
  background: white;
  color: black;
  border: inset 1px #806070;
}

.level {
  padding-top: 4px;
  padding-left: 2em;
  clear: both;
  border-left: 1px dashed #D0D0D0;
  border-top: 1px dashed #D0D0D0;
}

.levelcontents {
  padding: 0em;
  margin: 0em;
}

.paragraph { 
  padding: 1em;
  margin-top: 1em;
  padding-top: 0px;
  line-height: 2em;
  border-top: 1px dotted gray;
  clear: both;
}


.paragraph textarea {
  display: block;
  font-size: 85%;
  font-family: monospace;
  background: #f0d0d0;
  padding: 0.5em;
  -moz-border-radius: 5px;
  overflow: auto;
  line-height: 1.4em;
  height: 10em;
  border: 0px;
  width: 100%;
}

.paragraph input.text {
  display: block;
  font-size: 85%;
  background: #f0f0d0;
  padding: 1em;
  -moz-border-radius: 5px;
  overflow: auto;
  line-height: 1.4em;
  border: 0px;
  width: 100%;
}

a img {
  border: 0px;
}


.doclist table {
  line-height: 2em;
  border: 1px solid black;
}

.doclist table center {
  line-height: 2em;
  font-size: 120%;
  font-style: italic;
}

.doclist tr {
  background: #e0d0e0;
  border: 1px solid black;
}

.doclist th {
  background: black;
  color: white;
}

.doclist td {
  padding: 5px;
}

.doclist a {
  color: black;
}