
.paragraph span.title {
  font-size: 120%;
  padding: 10px;
  font-weight: bold;
}

.paragraph span.emphasis {
  font-style: italic;
  background: url("../tags/emphasis.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.function {
  font-family: monospace;
  background: url("../tags/function.png") repeat-x;
  padding-top: 10px;
}

.paragraph span.parameter {
  font-family: monospace;
  background: url("../tags/parameter.png") repeat-x;
  padding-top: 10px;
}

.paragraph span.filename {
  font-family: monospace;
  background: url("../tags/filename.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.keycap {
  font-family: monospace;
  border: 2px solid #404040;
  background: #D0D0D0;
  -moz-border-radius: 5px;
  padding: 1px 3px 1px 3px;
  white-space: nowrap;
}

.paragraph span.guibutton {
  font-family: monospace;
  border: 1px solid ButtonShadow;
  border-top: 1px solid ButtonHighlight;
  border-left: 1px solid ButtonHighlight;
  color: ButtonText;
  background: ButtonFace;
  -moz-border-radius: 3px;
  padding: 4px 8px 2px 8px;
  font-size: 85%;
  white-space: nowrap;
}


.paragraph span.guibutton:hover {
  background: ThreeDHighlight;
}


.paragraph span.guilabel {
  font-style: italic;
  background: url("../tags/guilabel.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.application {
  font-style: italic;
  background: url("../tags/application.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.guimenu {
  font-style: italic;
  background: url("../tags/guimenu.png") no-repeat center right;
  padding-right: 20px;
}

.paragraph span.guisubmenu {
  font-style: italic;
  background: url("../tags/guimenu.png") no-repeat center right;
  padding-right: 20px;
}


.paragraph span.guimenuitem {
  font-style: italic;
  background: url("../tags/guimenuitem.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.command {
  font-family: monospace;
  background: url("../tags/command.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.literal {
  font-family: monospace;
  background: url("../tags/literal.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}

.paragraph span.type {
  font-family: monospace;
  background: url("../tags/type.png") repeat-x;
  padding-top: 10px;
  margin-top: 10px;
}


.paragraph pre.programlisting {
  display: block;
  font-size: 85%;
  background: #f0f0d0;
  padding: 1em;
  -moz-border-radius: 5px;
  overflow: auto;
  line-height: 1.4em;
}

.paragraph pre.synopsis {
  display: block;
  font-size: 85%;
  background: #f0f0d0;
  padding: 1em;
  -moz-border-radius: 5px;
  border: 1px solid black;
  overflow: auto;
  line-height: 1.4em;
}

.paragraph table {
  line-height: 2em;
  border: 1px solid black;
}

.paragraph table center {
  line-height: 2em;
  font-size: 120%;
  font-style: italic;
}

.paragraph tr {
  background: #e0d0e0;
  border: 1px solid black;
}

.paragraph th {
  background: black;
  color: white;
}

.paragraph td {
  padding: 5px;
}

.paragraph a.anchor {
}


.paragraph a.link {
  background: url('../tags/link.png') no-repeat left;
  padding-left: 14px;
  color: #444;
}

.paragraph a.link:hover {
  color: #888;
}
